@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.loader {
  @include flex-column-center;
  gap: $spacing-md;
}

.spinner {
  border: 3px solid $color-gray-200;
  border-top-color: $color-primary;
  border-radius: $border-radius-full;
  animation: spin 0.8s linear infinite;

  &.sm {
    width: 24px;
    height: 24px;
  }

  &.md {
    width: 40px;
    height: 40px;
  }

  &.lg {
    width: 60px;
    height: 60px;
    border-width: 4px;
  }
}

.text {
  font-size: $font-size-sm;
  color: $color-gray-600;
}

.fullScreen {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-white, 0.9);
  z-index: $z-modal;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
