@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.wrapper {
  position: sticky;
  top: $navbar-height;
  z-index: $z-dropdown;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-200;
}

.scrollContainer {
  display: flex;
  align-items: center;
  gap: 0;
  overflow-x: auto;
  padding: 0 12px;
  -webkit-overflow-scrolling: touch;

  // Ocultar scrollbar (Pinterest style)
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ramaTab {
  flex-shrink: 0;
  padding: 12px 16px;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  color: $color-gray-700;
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all $transition-fast;
  white-space: nowrap;
  position: relative;

  &:hover {
    color: $color-black;
  }

  &.active {
    color: $color-black;
    border-bottom-color: $color-black;
  }
}
